main {
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    height: calc(100vh - 80px);
}

section {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}

section>img {
    height: auto;
    width: 100%;
    max-width: 500px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.details {
    margin-left: 5rem;
    height: 100%;
    flex-direction: column;
}

.informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.category {
    color: var(--category-color);
    margin: 0;
    font-size: 24px;
}

.price {
    font-size: 32px;
    margin-top: 0;
    font-weight: bold;
    color: var(--category-color);
}

.description {
    padding-bottom: 20px;
}

.stock-indicator {
    font-size: 20px;
    margin-bottom: 0;
}

.in-stock {
    color: var(--in-stock-color);
}

.out-of-stock {
    color: var(--out-stock-color);
}

.fa-shopping-cart {
    font-size: 20px;
}

@media (max-width: 853px) {

    main {
        margin: 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    section {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .image-produit {
        height: 45%;
        display: flex;
    }

    section>img {
        max-height: 80%;
        width: auto;
        margin: auto;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .details {
        height: 55%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .informations {
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 50px;
    }

    .category {
        font-size: 24px;
    }

    .price {
        font-size: 28px;
    }

    .description {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
    }
}


aside {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: -400px;
    width: 300px;
    background: #f0efef;
    padding: 1rem;
    border-radius: 5px;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
}

aside.open {
    left: 10px;
}

.toggle-aside {
    position: fixed;
    top: 1rem;
    left: 1rem;
    transition: background-color 0.2s, left 0.3s ease-in-out;
    z-index: 1000;
}

.toggle-aside.open {
    left: 320px;
}

aside>nav {
    height: 100%;
}

.aside-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.logo-container img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.logo-container p {
    color: black;
    font-weight: bold;
}

.right-buttons {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}

.right-buttons a,
.right-buttons i,
.right-buttons p {
    color: black;
    margin-left: 15px;
    margin: auto;
    font-size: 25px;
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.menu-links a {
    color: black;
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 2rem;
    font-weight: bold;
}