main {
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    height: calc(100vh - 80px);
}

section {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}

section>img {
    height: auto;
    width: 100%;
    max-width: 500px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.details {
    margin-left: 5rem;
    height: 100%;
    flex-direction: column;
}

.informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.category {
    color: var(--category-color);
    margin: 0;
    font-size: 24px;
}

.price {
    font-size: 32px;
    margin-top: 0;
    font-weight: bold;
    color: var(--category-color);
}

.description {
    padding-bottom: 20px;
}

.stock-indicator {
    font-size: 20px;
    margin-bottom: 0;
}

.in-stock {
    color: var(--in-stock-color);
}

.out-of-stock {
    color: var(--out-stock-color);
}

.fa-shopping-cart {
    font-size: 20px;
}

@media (max-width: 853px) {

    main {
        margin: 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    section {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .image-produit {
        height: 45%;
        display: flex;
    }

    section>img {
        max-height: 80%;
        width: auto;
        margin: auto;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    .details {
        height: 55%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .informations {
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 50px;
    }

    .category {
        font-size: 24px;
    }

    .price {
        font-size: 28px;
    }

    .description {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
    }
}