:root {
    --dark-blue: #023047;
    --blue: #219EBC;
    --light-blue: #A3D4EB;
    --button-color: #FFBF75;
    --orange: #FB8500;
    --out-stock-color: #F60303;
    --in-stock-color: #04C300;
    --category-color: #EDEDED;
    --text-color: #FFFFFF;
    --header-text-color: #000000;
}

* {
    font-family: 'roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--category-color);
    color: var(--header-text-color);
    width: 100%;
}

body {
    background: linear-gradient(180deg, #0575AD 3%, var(--dark-blue) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 96px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: xx-large;
}

h3 {
    color: var(--category-color);
}

button {
  font-family: roboto;
  color: var(--header-text-color);
  background-color: var(--button-color);
}

button:not(.hamburger) {
    color: var(--header-text-color);
    background-color: var(--button-color);
    height: 4rem;
    width: 17rem;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:not(.hamburger):hover {
    background-color: #eeab03;
    transition: 0.5s;
}

.offscreen {
    position: absolute;
    top: -9999px;
    color: var(--dark-blue);
}

.offscreen:focus {
    position: absolute;
    z-index: 999999;
    top: 0;
}

header {
  background: white;
  display: flex;
  flex-direction: row;
}

.nav-header {
    height: 4em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    position: fixed;
}

.nav-header p {
  color: black;
  padding-left: 16px;
  margin: 0px;
  font-weight: bold;
}

.nav-header ul {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-header ul#left {
  padding-left: 80px;
  font-size: 30px;
}

.nav-header ul#right {
  padding-right: 80px;
  font-size: 20px;
}

.nav-header ul div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-header ul * {
  padding: 10px;
  color: black;
  text-decoration: none;
}

.nav-header img {
  width: 80px;
  height: 80px;
}

.nav-item:not(.is-active):hover {
  color: black;
  border-bottom: gray 5px solid;
  border-radius: 0 0 4px 4px;
}

.nav-item.is-active {
  color: black;
  border-bottom: black 5px solid;
  border-radius: 0 0 4px 4px;
}

.nav-indicator {
  display: none;
}
  
  .pointer {
      cursor: pointer;
  }
  
  .fa-user {
      padding-left: 0;
      padding-right: 0;
  }
  
  .fa-shopping-cart {
      padding-right: 0;
      padding-left: 0;
  }
  
  .cart-number {
      padding-left: 0;
      padding-right: 0;
      font-weight: lighter;
      color: rgb(75, 75, 75);
      font-size: medium;
      margin-left: 1rem;
  }
