:root {
    --dark-blue: #023047;
    --blue: #219EBC;
    --light-blue: #8ECAE6;
    --button-color: #FFB703;
    --orange: #FB8500;
    --out-stock-color: #F60303;
    --in-stock-color: #04C300;
    --category-color: #EDEDED;
    --text-color: #FFFFFF;
    --header-text-color: #000000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--category-color);
    color: var(--header-text-color);
    width: 100%;
}

body {
    background: linear-gradient(180deg, #0575AD 3%, var(--dark-blue) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    padding: 1%;
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 24px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-weight: bold;
    font-size: 96px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: xx-large;
}

h3 {
    color: var(--category-color);
}

button {
  font-family: roboto;
  color: var(--header-text-color);
  background-color: var(--button-color);
}

button:not(.hamburger) {
    font-family: 'Roboto', sans-serif;
    color: var(--header-text-color);
    background-color: var(--button-color);
    height: 4rem;
    width: 17rem;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:not(.hamburger):hover {
    background-color: #eeab03;
    transition: 0.5s;
}

.offscreen {
    position: absolute;
    top: -9999px;
    color: var(--dark-blue);
}

.offscreen:focus {
    position: absolute;
    z-index: 999999;
    top: 0;
}

.hamburger {
    display: none;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 0rem;
}

.hamburger>i {
    padding: 0;
}

header {
  background: white;
  display: flex;
  flex-direction: row;
}

.nav-header {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    position: fixed;
}

.nav-header p {
  color: black;
  padding-left: 16px;
  margin: 0px;
  font-weight: bold;
  font-family: 'roboto', sans-serif;
}

.nav-header ul {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-header ul#left {
  padding-left: 80px;
  font-size: 30px;
}

.nav-header ul#right {
  padding-right: 80px;
  font-size: 20px;
}

.nav-header ul div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-header ul * {
  padding: 10px;
  color: black;
  text-decoration: none;
}

.nav-header img {
  width: 80px;
  height: 80px;
}

.nav-item:not(.is-active):hover {
  color: black;
  border-bottom: gray 5px solid;
  border-radius: 0 0 4px 4px;
}

.nav-item {
    font-family: 'roboto', sans-serif;
}

.nav-item.is-active {
  color: black;
  border-bottom: black 5px solid;
  border-radius: 0 0 4px 4px;
}

.nav-indicator {
  display: none;
}

/***** CSS PAGE COMMANDES *****/

hr {
    width: 95%;
    margin-left: 0;
    border: 1px black white;
}

section {
    margin: 0;
    padding: 0;
}

.order {
    width: 95%;
    height: 125px;
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom-color: var(--light-blue);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-radius: 5px;
}

.order h3 {
    text-decoration: underline;
    font-style: oblique;
    width: 20%;
    margin: 0;
    overflow: hidden;
    margin-right: 2vw;
    color: var(--light-blue);
}

.order p {
    margin: 0;
    margin-right: 2vw;
    font-weight: 700;
    width:min-content;
    flex: 1;
    display: flex;
    align-items: center;
    overflow-wrap: normal;
}

.order div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.supportLink {
    height: 50px;
    width: 150px;
    border-radius: 1em;
    font-weight: bold;
    font-family: roboto;
    color: var(--header-text-color);
    background-color: var(--button-color);
    padding: 0;
}

/* Styles pour les statuts */
.statut-fini {
  color: var(--in-stock-color);
}

.statut-livraison {
  color: #FFBF75;
}

.statut-annule {
  color: #FDBABA;
.pointer {
    cursor: pointer;
}

.fa-user {
    padding-left: 0;
    padding-right: 0;
}

.fa-shopping-cart {
    padding-right: 0;
    padding-left: 0;
}

.cart-number {
    padding-left: 0;
    padding-right: 0;
    font-weight: lighter;
    color: rgb(75, 75, 75);
    font-size: medium;
    margin-left: 1rem;
}


@media (max-width: 853px) {
    header {
        display: none;
    }

    .hamburger {
        display: block;
    }
}